body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #050505; 
  }

  h2{
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
  }

  .card {
    background-color: rgba(9, 9, 9, 0.1);
    color: antiquewhite;
  }


  .btn {
    background-color: #6242a7;
    color:#cfc1d6;

  }

  .btn:hover {
    background-color: #cfc1d6; 
    color:  #3b0253; 
  }

  #quizModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


  footer {
    background-color:  #192370; 
    color: #ecf0f1; 
    padding: 20px; 
    text-align: center; 
    font-family:Georgia, 'Times New Roman', Times, serif;
  
  
  footer a {
    color: #ecf0f1; 
    text-decoration: none; 
    margin: 0 10px;
    font-weight: bold; 
  }
  

  footer p {
    font-size: 14px; 
  }
}