html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #050505;
  overflow-x: hidden;
}

.chat-container {
  padding-top: 20pt;
  max-width: 500pt;
  text-align: center;
  border: 2pt solid #192370;
  border-radius: 1%;
  padding-bottom: 10pt;
}

.chat {
  width: 100%;
  padding-top: 50pt;
  display: flex;
  justify-content: center;
}

.message-field {
  padding-top: 5pt;
  padding-bottom: 5pt;
  padding-left: 25pt;
  padding-right: 25pt;
  display: flex;
  justify-content: space-between;
}

.send-icon {
  background-color: #192370;
  color: white;
  width: 50pt;
  border: 1pt solid #4752a3;
  border-radius: 2%;
}

.text-field {
  display: flex;
  justify-content: start;
  padding-left: 10pt;
  margin-right: 10pt;
  background-color: rgb(250, 250, 250);
  width: 100%;
  color: #192370;
  border: 2pt solid #4752a3;
  border-radius: 2%;
}

.bubble {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  max-width: 70%;
  border-radius: 10px;
  position: relative;
}

.left {
  background-color: #4752a3;
  color: azure;
}

.right {
  background-color: white;
}

.bubble::before {
  width: auto;
  height: auto;
}

.left::before {
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #87ceeb transparent transparent;
}

.right::before {
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #98fb98;
  top: 10px;
}

.message1 {
  display: flex;
  justify-content: start;
}

.message2 {
  display: flex;
  justify-content: end;
}

.low {
  top: 30px;
}

.imag1 {
  display: flex;
  justify-content: center;
  margin-top: 50pt;
  margin-bottom: 50pt;
}

.logos-img {
  display: flex;
  justify-content: center;
}

.header-container {
  text-align: center;
  padding-top: 100pt;
  padding-bottom: 100pt;
}
.header-container h1 {
  display: inline-block;
  position: relative;
  padding: 30px;
  background-color: #4752a3;
  color: #fff;
  border-radius: 50px;
  margin: 0;
  font-size: 36px;
}
.header-container img {
  position: relative;
  width: 60pt;
  height: auto;
}

.box-container {
  text-align: center;
  margin: 0 auto;
  padding-top: 50pt;
  padding-bottom: 50pt;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600pt;
  text-align: center;
}

.box {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.1);
}

.learn {
  background-color: black;
  font-family: fantasy;
  color: #ecf0f1;
}

.share {
  background-color: black;
  font-family: fantasy;
  color: #4752a3;
}

footer {
  /* position: fixed;
  bottom: 0; */
  background-color: #192370;
  color: #ecf0f1;
  padding-top: 20pt;
  padding-bottom: 20pt;
  text-align: center;

  footer a {
    color: black; /* Λευκό χρώμα συνδέσμων */
    text-decoration: none; /* Καμία υπογράμμιση */
    margin: 0 10px; /* Απόσταση μεταξύ των συνδέσμων */
    font-weight: bold; /* Έντονη γραμματοσειρά */
  }

  /* Στυλ για το κείμενο φούτερ */
  footer p {
    text-align: center;
    font-size: 14px; /* Μικρότερο μέγεθος γραμματοσειράς */
  }

  .uom-link-icon {
    width: 20pt;
    height: 20pt;
  }

  .p2 {
    font-size: 10pt;
    color: rgb(150, 150, 150);
  }
}
