html,
body {
  background-color: #4752a3;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Alignment of the .p element to center the text */
p {
  text-align: center;
  font-size: 15pt;
}

footer {
  background-color: #192370;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.infoContainer {
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: 30pt;
  padding-bottom: 30pt;
  background-color: #ecf0f1;
}

#name_email_phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

#basicInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

#buttons {
  padding-top: 20pt;
  padding-bottom: 20pt;
}

.profilePhoto {
  width: 150pt;
  height: 150pt;
}

.card-body {
  height: 20pt;
  background-color: #4752a3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editButtons {
  background-color: #4752a3;
  color: #ecf0f1;
  border: transparent;
  height: 20pt;
}

#changeName,
#changeEmail,
#changePhoneNumber {
  visibility: hidden;
  margin-bottom: 5pt;
}

#editBasicInfo {
  display: grid;
}

.editButton {
  margin-top: 10pt;
}

.basicInfo {
  margin-top: 20pt;
}
