body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#quiz-container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.question {
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(105, 7, 7);
    margin-bottom: 20px;
    font-weight: bold;
   
}

.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.option {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.btn-container {
    margin-top: 20px;
  }
