body {
  background-color: rgb(241, 242, 242);
  display: block;
  text-align: center; 
  height: 100vh;
  margin: 0;
}



.border-with-image {
  margin: auto;
  position: relative;
  display: inline-block;
  padding: 30px;
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.border-with-image::before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100px;
  height: 100px;
  background: url('https://w7.pngwing.com/pngs/801/224/png-transparent-laptop-emoji-personal-computer-desktop-computers-middle-finger-electronics-rectangle-computer.png') center/cover;
  border-radius: 50%;
  z-index: 1;
}

h1 {
  color: black;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  text-align: center;
  padding: 50px 0;
}

.container {
  margin: auto;
  position: relative;
  width: 50%;
  display: flex;
  padding: 30px; 
  text-align: center; 
  margin-top: 20px; 
}

.field {
  padding: 15px;
  margin: 10px;
  background-color: #3d2be2;
  color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
}

